<h1>WebSynergia App</h1>

<p> Example users from seed data <p>
<ul>	
<li>login: adam@test.pl, password: administrator1234</li>

<li>login: michal@test.pl', password: 'administrator1234</li> 

<li>login: tomasz@test.pl', password: administrator1234</li> 

<li>login: mikolaj@test.pl', password: 'administrator1234</li> 
<ul>